<!--@if (selectedUser.nombre !== undefined) {
  <div>
    <h3>Nombre: {{ selectedUser.nombre }}</h3>
    <p>Email: {{ selectedUser.email }}</p>
    <p>Edad: {{ selectedUser.edad }}</p>
  </div>

}-->


<!--<app-user-card [user]="user"></app-user-card>-->
<!--@for (usuario of users; track $index) {
  <app-user-card [user]="usuario" (userSelected)="userSelected($event)"></app-user-card>
}

<app-pipes-demo></app-pipes-demo>
<p [innerHTML]="'Angular es un framework potente' | resaltar:'framework'"></p>-->
<nav class="navbar">
  <a routerLink="/home" routerLinkActive="active">Inicio</a>
  <a routerLink="/about" routerLinkActive="active">Acerca de</a>
  <a routerLink="/productos" routerLinkActive="active">Productos</a>
  <a routerLink="/contact" routerLinkActive="active">Contacto</a>
  <a routerLink="/contact" routerLinkActive="active">Sesion hoy</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
